$default: calc(100vw / 16);

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    &-item {
        width: $default;
        height: $default;
        border: 1px solid black;
        background: white;
    }
}